html {
  font-family: Garamond, serif;
  font-size: 12pt;
  background: white;
  padding-bottom: 3em;
}

@media (max-width: 700px) { /* medium screen width */
  html {
    font-size: 10pt;
  }
}

@media (max-width: 500px) { /* small screens width */
  html {
    font-size: 9pt;
  }
}

.maxwidth {
  margin: 0 auto;
  padding: 20pt 32pt;
  background: #fefbd8;
  max-width: 900px;  /* maximum desktop width */
}

/*
hr {
  border-top: 0;
  border-bottom: solid 1pt black;
  margin-bottom: 3em;
}
*/

h1, h2, h3, h4, h5 {
  margin-top: 32pt;
  border-bottom: solid 1pt black;
}

a[href^=posts] { /* in table of contents */
  color: black;
  text-decoration: none;
  font-weight: normal;
}

a[href^=posts]:visited { /* in table of contents */
  color: gray;
}


a {
  color: blue; /* leave links blue, even if they have been visited */
  font-weight: bold;
}


p {
  text-align: justify;
}

/*
img {
  border: none; 
}
*/

pre {
  background-color: white;
  border-radius: 8pt;
  padding-left: 8pt;
  padding-top: 4pt;
  padding-bottom: 4pt;
  overflow: auto; /* show scroll bars if necessary */
}

code {
  font-family: Dejavu Sans Mono, monospace;
  background-color: white;
}

p code {
  border-radius: 4pt;
  padding-left: 3pt;
  padding-right: 3pt;
}

table {
  width: 100%;
  border-collapse: collapse;

}

th, tr:nth-of-type(even) {
  background-color: white;
}

th, td {
  border: thin solid #f8e080;
  padding: 2pt 4pt;
}

blockquote {
  font-style: italic;
}

.lastmodified {
  margin-top: 32pt;
  text-align: center;
  font-style: italic;
}