@font-face {
  font-family: "EB Garamond";
  font-display: swap;
  font-weight: normal;
  font-style: normal;
  /*font-variant-numeric: lining-nums;*/
  src: local("EB Garamond"),
    url("EBGaramond-Regular.woff2") format("woff2");
}

@font-face {
  font-family: "EB Garamond";
  font-display: swap;
  font-weight: normal;
  font-style: italic;
  src: local("EB Garamond"),
    url("EBGaramond-Italic.woff2") format("woff2");
}




html {
  font-family: "EB Garamond", serif;
  font-size: 16pt;
  background: white;
  padding-bottom: 3em;
}

.maxwidth {
  margin: 0 auto;
  padding: 20pt 32pt;
  background: #fefbd8; 
  max-width: 800px;     /* maximum desktop width */
}

@media (max-width: 770px) { /* medium screen width */
  html {
    font-size: 14pt;
  }
  .maxwidth {
    padding: 16pt 20pt;
  }
}

@media (max-width: 640px) { /* small screen width */
  html {
    font-size: 12pt;
  }
  .maxwidth {
    padding: 10pt 10pt;
  }
}

body {
  margin: 0;
}

img, audio, video { max-width: 100% }

/*
hr {
  border-top: 0;
  border-bottom: solid 1pt black;
  margin-bottom: 3em;
}
*/

h1, h2, h3, h4, h5 {
  font-family:Arial,Helvetica,sans-serif;
  border-bottom: solid 1pt black;
}

h1 {
  font-size: 1.5em;
  margin-top: 32pt;
}

h2 {
  font-size: 1.2em;
}

h3 {
  font-size: 1.1em;
}

h4 {
  font-size: 1em;
}


a[href^=posts] { /* in table of contents */
  color: black;
  text-decoration: none;
  font-weight: normal;
}

a[href^=posts]:visited { /* in table of contents */
  color: gray;
}


a {
  color: blue; /* leave links blue, even if they have been visited */
  font-weight: bold;
}


p {
  text-align: justify;
}

/*
img {
  border: none; 
}
*/

pre {
  background-color: #fffff0;
  border-radius: 8pt;
  padding-left: 8pt;
  padding-top: 4pt;
  padding-bottom: 4pt;
  overflow: auto; /* show scroll bars if necessary */
}

code {
  font-family: Dejavu Sans Mono, monospace;
  font-size: 0.7em; /* scale Dejavu down compared to EB Garamond */
  background-color: #fffff0;
}

p code {
  border-radius: 4pt;
  padding-left: 3pt;
  padding-right: 3pt;
}

table {
  width: 100%;
  border-collapse: collapse;

}

th, tr:nth-of-type(even) {
  background-color: white;
}

th, td {
  border: thin solid #f8e080;
  padding: 2pt 4pt;
}

blockquote {
  font-style: italic;
}

.lastmodified {
  margin-top: 32pt;
  text-align: center;
  font-style: italic;
}