name: Build and Deploy from Markdown to HTML

on:
  push:
    branches: [ master ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repository
      uses: actions/checkout@v4

    - name: Install Pandoc
      uses: pandoc/actions/setup@v1

    - name: Build HTML from Markdown
      run: |
        ./make.sh build

    - name: Deploy to GitHub Pages v4
      uses: peaceiris/actions-gh-pages@v4
      if: github.ref == 'refs/heads/master'
      with:
        github_token: ${{ secrets.GITHUB_TOKEN }}
        publish_dir: ./dist